C_sharp_Data_Types_and_Variables_String_Manipulation/.vs/
C_sharp_Data_Types_and_Variables_String_Manipulation/bin/
C_sharp_Data_Types_and_Variables_String_Manipulation/obj/

C_Sharp_Repeat_Operation_Basic_OOP/.vs/
C_Sharp_Repeat_Operation_Basic_OOP/bin/
C_Sharp_Repeat_Operation_Basic_OOP/obj/
