ConsoleApp1/.vs/
ConsoleApp1/ConsoleApp1/obj/
ConsoleApp2/ConsoleApp2/bin/
ConsoleApp2/ConsoleApp2/obj/
ConsoleApp2/.vs/
First Console App/.vs/
First Console App/bin/
First Console App/obj/
Data_Types_and_Variables_Coding/.vs/
Data_Types_and_Variables_Coding/obj/
DesignPattern1/.vs/
DesignPattern1
C_sharp_Data_Types_and_Variables_String_Manipulation/.vs/
C_sharp_Data_Types_and_Variables_String_Manipulation/bin/
C_sharp_Data_Types_and_Variables_String_Manipulation/obj/
C_Sharp_Function_and_Methods/.vs/
C_Sharp_Function_and_Methods/bin/
C_Sharp_Function_and_Methods/obj/
