C_sharp_Data_Types_and_Variables_String_Manipulation/.vs/
C_sharp_Data_Types_and_Variables_String_Manipulation/bin/
C_sharp_Data_Types_and_Variables_String_Manipulation/obj/
C_Sharp_Exception_Handling/.vs/C_Sharp_Exception_Handling/FileContentIndex/read.lock
C_Sharp_Exception_Handling/
C_Sharp_Function_and_Methods/
DesignPattern1/
First Console App/
Data_Types_and_Variables_Coding/
Csharp-basics- Decision Making & Repeat Operation/obj/
Csharp-basics- Decision Making & Repeat Operation/.vs/
Csharp-basics- Decision Making & Repeat Operation/bin/
decision making/bin/
decision making/obj/Csharp-basics- Decision Making & Repeat Operation.csproj.nuget.dgspec.json
decision making/obj/
